html {
  box-sizing: border-box;
}

:root {
  --background-color: #0c0912;
  --font-color: #ffffff;
  --primary-color: #201b2a;
  --secondary-color: #9281b8;
  --accent-color: #ede484;
  --placeholder-color: #808080;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.navbar span {
  margin-top: 20px;
  padding: 25px;
  color: #ffffff;
}

nav {
  width: 100%;
  background-color: #0c0912;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.navbar .logo {
  display: inline-block;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
}

.navbar form.searchbar {
  display: flex;
}

.navbar form.searchbar {
  display: flex;
  border: 2px #201b2a;
}

.navbar form.searchbar input[type="text"] {
  padding: 4px;
  font-size: 17px;
  border: 2px solid #201b2a;
  float: left;
  width: 100%;
  background: #0c0912;
  color: var(--font-color);
}

.navbar .form.searchbar button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #201b2a;
  color: #808080;
  font-size: 17px;
  border: 2px solid #201b2a;
  border-right: none; /* Prevent double borders */
  cursor: pointer;
}

.navbar .nav-buttons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #808080;
}

.navbar .nav-button a {
  display: inline-block;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
  color: #808080;
}

.navbar .nav-button img {
  width: 50px;
  vertical-align: middle;
}

.navbar .nav-item {
  border: 5px solid #0c0912;
}

.navbar .nav-item:hover {
  background-color: #201b2a;
  border: 5px solid #201b2a;
  border-radius: 5px;
}

.navbar .nav-item:hover a {
  color: #9281b8;
}

.navbar .nav-icons:hover {
  color: #9281b8;
}

.navbar .login {
  background-color: var(--accent-color);
  border-radius: 5px;
  padding: 10px;
}

.navbar .nav-button .login-text {
  color: var(--background-color);
}

.navbar .login-icon {
  padding-right: 10px;
}

.navbar .signup {
  background-color: var(--placeholder-color);
  border-radius: 5px;
  padding: 10px;
}

.navbar .nav-button .signup-text {
  color: var(--font-color);
}

.navbar .signup-icon {
  padding-right: 10px;
}

.navbar .logo img {
  width: 50px;
  vertical-align: middle;
}
