:root {
  --background-color: #0c0912;
  --font-color: #ffffff;
  --primary-color: #201b2a;
  --secondary-color: #9281b8;
  --accent-color: #ede484;
  --placeholder-color: #808080;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

h2,
h4 {
  color: var(--font-color);
}

h2 {
  margin-bottom: 58px;
  padding: 0;
}

.wrapper {
  margin: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0;
}

.active {
  color: var(--placeholder-color);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.card-header {
  display: flex;
  justify-content: center;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--secondary-color);
}

input[type="text"],
textarea {
  padding: 4px;
  font-size: 17px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  float: left;
  width: 100%;
  background: var(--background-color);
  color: var(--font-color);
}

input[type="text"]:focus,
textarea:focus {
  border: 1px solid var(--placeholder-color);
  outline: none;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tag-item {
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid var(--secondary-color);
}

.tag-text {
  color: var(--font-color);
  padding: 0 5px;
}

.tag-remove {
  color: var(--placeholder-color);
  padding: 0 5px;
  cursor: pointer;
}

.tag-remove:hover {
  color: var(--accent-color);
}
