:root {
  --background-color: #0c0912;
  --font-color: #ffffff;
  --primary-color: #201b2a;
  --secondary-color: #9281b8;
  --accent-color: #ede484;
  --placeholder-color: #808080;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

h2,
h4 {
  color: var(--font-color);
}

h2 {
  margin-bottom: 58px;
  padding: 0;
}

.card-title {
  margin: 5px;
}

.wrapper {
  margin: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
}

form.container-newp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0;
}

.breadcrumb {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumb-item {
  margin: 0;
}

.active {
  color: var(--placeholder-color);
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--secondary-color);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

input[type="text"],
textarea {
  padding: 4px;
  font-size: 17px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  float: left;
  width: 100%;
  background: var(--background-color);
  color: var(--font-color);
}

input[type="text"]:focus,
textarea:focus {
  border: 1px solid var(--placeholder-color);
  outline: none;
}

input[type="file"],
input[type="submit"] {
  display: none;
}

.assets-uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 2px dashed var(--secondary-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 287px;
}

.image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 150px;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 2%;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.btn:hover {
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.fa {
  color: var(--secondary-color);
  padding-right: 5px;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

::placeholder {
  color: var(--placeholder-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
  padding-right: 5px;
}

.images-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
  padding: 0px;
  border-radius: 5px;
  background-color: var(--background-color);
  flex-wrap: wrap;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 32%;
  padding: 0;
  border: 1px solid var(--secondary-color);
  background-color: var(--background-color);
}

.image-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--background-color);
}

.image-header p {
  color: var(--placeholder-color);
  font-size: 14px;
}

.image-header span {
  color: var(--font-color);
  padding-right: 5px;
  align-self: center;
}

.image-header span:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.image-card img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tag-item {
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
  border: 1px solid var(--secondary-color);
}

.tag-text {
  color: var(--font-color);
  padding: 0 5px;
}

.tag-remove {
  color: var(--placeholder-color);
  padding: 0 5px;
  cursor: pointer;
}

.tag-remove:hover {
  color: var(--accent-color);
}

.icon {
  color: var(--secondary-color);
  padding-right: 10px;
}

.image-icon {
  color: var(--accent-color);
}

.main-icon {
  color: var(--accent-color);
  padding-right: 10px;
}

.trash-icon {
  color: rgb(189, 0, 0);
}
